h1  {
    text-align: center;
   color: blue; text-shadow: 4px 4px 5px rgba(20, 140, 220, 0.623);
}

.title {
    color: rgba(91, 41, 114, 0.712);
}

#italic {
    color: cadetblue;
}

nav {
    background-color: crimson;
    text-align: center;
}

a {
    text-decoration-line: none;
}

nav ul {
    list-style: none;
}

nav li {
    display: inline-block;
    padding: 30px;
}

.container  {
    border: 10px dashed aqua;
    margin: 50px 5px 25px 0px;
    padding: 30px 0px 10px 5px;}

    .box {
        height: 200px;
        width: 200px;
        background: blue;
        margin: 10px;
    }

    @keyframes fadeMe {
        0% {
            opacity: 1;
        }
        100% {
            opacity: 0;
        }
    }

    #box1 {
        animation-name: fadeMe;
        animation-duration: 4s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
    }

    @keyframes rotation {
        0%{transform: rotate(90deg);}
        50%{transform: rotate(180deg);}
       100%{transform: rotate(360deg);}
    }

    #box2 {
        animation-name: rotation;
        animation-duration: 2s;
        animation-iteration-count: 4s;
        animation-timing-function: ease-in-out;
        border-radius: 10%;
        background-image: radial-gradient(circle, blue, aqua, lightblue , darkblue , blue);
    }

    .circle-img {
        border-radius: 50%;
    }

    @keyframes getBigger {
        0% {transform: scale(1);}
        50% {transform: scale(2);}
        100% {transform: scale(.5);}
    }

    #box3 {
        animation: getBigger infinite 8s ease-in;
        border-radius: 50%;
        background: blue;
    }


    @keyframes changeColors {
        0% {background-color: blue;}
        25% {background-color: purple;}
        50% {background-color: plum;}
        75% {background-color: aqua;}
        100% {background-color: blue;}
    }

    #box4 {
        animation: changeColors 7s infinite;
    }

    @keyframes moveBox {
        0% {left: 0px; top: 0px;}
        25% {left: 100px; top: 0px;}
        50% {left: 100px; top: 200px;}
        75% {left: 0px; top: 200px;}
        100% {left: 0px; top: 0px;}
    }

    #box5 {
        position: relative;
        background: blueviolet ;
        animation: moveBox 5s 3s ;
    }

    #box6 {
        top: 100px;
        left: 200px;
        position: relative;
    }

   

    img {
        box-shadow: 8px 8px 10px 8px rgb(74, 86, 99);
    }

    .flex {
        margin: 30px;
        border: 3px solid black;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 300px;
    }

    .wrapper {
        display: grid;
        grid-gap: 10px;
        grid-template-columns: repeat(5, [col] 20% ) ;
        grid-template-rows: repeat(3, [row] auto  );
        background-color: #fff;
        color: #444;
    }

    .Box {
        background-color: #fff;
        color: #fff;
        border-radius: 5px;
        padding: 20px;
        font-size: 150%;
        z-index:10;

    }

    .a {
        grid-column: col / span  2;
        grid-row: row ;
        display: flex;
        justify-content: center;
    }
    .b {
        grid-column: col 4 / span  2 ;
        grid-row: row ;
        display: flex;
        justify-content: center;
    }
    .c {
        grid-column: col / span 5 ;  
        grid-row: row 2 ;
        display: flex;
        justify-content: center;
    }
    .d {
        grid-column: col  / span  3 ;
        grid-row: row 3 ;
        display: flex;
        justify-content: center;
    }

    .e {
        grid-column: col 3 / span  3 ;
        grid-row: row 3;
        display: flex;
        justify-content: center;
    }

    .f {
        grid-column: col 2 / span 3 ;
        grid-row: row 2  ;
        background-color: rgba(49,121,207, 0.5);
        z-index: 20;
        display: flex;
        justify-content: center;
    }